<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baidu.travel.dao.OrderDao">
    <insert id="addOrder" parameterType="com.baidu.travel.domain.Route">
        insert into tab_order(rid,time,ispay,out_trade_no,uid) value(#{rid},#{time},#{ispay},#{out_trade_no},#{uid});
    </insert>
    <update id="updateById">
        update  tab_order set ispay='是' where out_trade_no=#{outTradeNo}
    </update>


    <select id="getOrderDaoByUid" resultType="com.baidu.travel.domain.OrderDo">
        select * from tab_order where uid = #{uid}
    </select>
    <select id="findRidByOutTradeNo" resultType="java.lang.Integer">
        select rid from tab_order where out_trade_no = #{outTradeNo}
    </select>
</mapper>